.clusterlist-table-container {
  padding: 0;
}

.clusterlist-table {
  margin: 0;

  th,
  td {
    display: table-cell;
    vertical-align: top;
  }

  thead,
  tbody {
    display: block;
    overflow: hidden auto;
    scrollbar-gutter: stable;
  }

  thead tr,
  tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .members,
  .instances,
  .warnings,
  .actions {
    text-align: right;
    width: 8rem;
  }

  .tooltip-toggle {
    cursor: pointer;
    padding-left: $sph--small;
    width: fit-content;
  }
}
