$donut-size: 6.5rem;

.cluster-graphs {
  display: flex;
  gap: $sph--large;

  .cluster-status {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: fit-content;
  
    .cluster-status__chart {
      width: $donut-size;
    }
  
    .cluster-status-legend {
      margin-left: $sph--x-large;
    }
  }
}
