@import "vanilla-framework/scss/settings_colors";

.horizontal-dist-graph {
    width: 100%;

    .horizontal-dist-graph__chart {
        width: 100%;
        border: 1px solid $color-mid-x-light;
    }

    .horizontal-dist-graph__grid-line {
        stroke: $color-mid-x-light;
    }
}
